*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.html,body{
    height:100%;
    background-color: #ebf8ed;
    overflow-y: hidden;
    overflow-x: hidden;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding:0 2%;
}

.header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    padding-top: 15px;
    width: 12%;
    height: 146.53px;
    left: 186.93px;
    top: 3px;
    transform: rotate(45deg);
}

.menu{
    padding-top: 37px;
    width: 88%;
    text-align: center;
}

.menu a{
    color: black;
    text-decoration:none;
    font-weight: bold;
    margin-right: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}

.Cestaimg{
    position: absolute;
    width: 440px;
    height: 350px;
    right: 125px;
}

.Verdecanto{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 725px;
    height: 675px;
    background-image: linear-gradient(130.03deg, #ebf8ed 70.65%, #93fd79 80.27%, #78ff56 89.48%, #57fc2d 97.05%);

}

.Texto{
    position: relative;
    width: 700px;
    height: 350px;
    left: 200px;
    top: 150px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #1d1c1c;
}

.textofoda{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 200px;
    top: 560px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}